<%= form_for(@user, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class= 'tab-content'>
    <div class="field" style="padding: 2% 20% 23px 20%;">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar %>
    </div>

    <div class="field" style="padding: 0 20% 23px 20%;">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field" style="padding: 0 20% 23px 20%;">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field" style="padding: 0 20% 23px 20%;">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions" style="padding: 0 20% 23px 20%;">
      <%= f.submit "Registrar", style: "background-color: #039be5; border-radius: 5px; width: 40%; color: white; height: 30px; margin-left: 10%;" %>
      <%= link_to "<button style='background-color: #ff1a1a; border: 2px solid #ff1a1a; border-radius: 5px; color: white; height: 30px; width: 40%'>Voltar</button>".html_safe, :back %>
    </div>
  </div>
<% end %>
