<p id="notice"><%= notice %></p>
<% if request.original_url.include?('users') %>
  <h1> Seus Anúncios</h1>
<% else %>
  <h1>Repúblicas</h1>
<% end %>
<div style='width: 800px;'>
  <div id="geolocation" style='width: 800px; height: 400px;'></div>
</div>

<table class="text-center">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
        <th>Título</th>
        <th>Vagas Disponíveis</th>
        <th>Aluguel</th>
        <th>Cidade</th>
    <% @searched_houses.each do |house| %>
      <tr class="text-center">
        <td><%= link_to "#{house.title}", house_url(id: house.id) %></td>
        <td><%=house.vacancies %></td>
        <td><%=house.rent %></td>
        <td><%=house.city %></td>
        <% if request.original_url.include?("users/") && house.id == current_user.id%>
          <td><%= link_to 'Edit', edit_user_house_path(id: house.id) %></td>
          <td><%= link_to 'Destroy', user_house_url(id: house.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if request.original_url.include?('users') %>
  <%= link_to 'Anunciar Republica', new_user_house_path %>
<% end %>

<script type="text/javascript">
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'geolocation'} }, function(){
    // be aware chrome >= 50 requires https for geolocation to work
    if(navigator.geolocation)
      navigator.geolocation.getCurrentPosition(displayOnMap);
  });

  function displayOnMap(position){
    var marker = handler.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude
    });
    handler.map.centerOn(marker);
  };
</script>
