<!DOCTYPE html>
<html>
  <head>
    <title>Republic</title>
    <%= csrf_meta_tags %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <ul id="slide-out" class="side-nav">
      <li><div class="user-view">
        <div class="background black">
        </div>
        <a href="#!user"><img class="circle" src=""></a>
        <h5> <%= current_user.name %> </h5>
        <h6> <%= current_user.email %></h6>
        <br>
      </div></li>
        <div class="row">
          <div class="container">
            <li><h6>Idade: 20</li>
            <li><h6>Telefone: 27222222</li>
            <li><div class="divider"></div></li>
            <li><h6>Cidade: Campos dos Goytacazes</h6></li>
            <li><h6>Estado: RJ</h6></li>
          </div>
        </div>
      </ul>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
